/* Side-Bar Button  */
.side-btn {
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: auto 0;
    padding-left: 7px;
    transition: all 0.5s ease;
    z-index: 51;
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    border: 1px solid rgba(3, 3, 3, 0.051);
    border-radius: 5px;
}

.menu-hov:hover>.side-btn {
    display: flex;
}

.side-btn:hover {
    display: flex;
}

.icon-box {
    display: none;
}

/* .icon-btn:hover {
    background: transparent !important;
} */

/* .icon-btn:hover>.icon-box {
    display: block !important;
} */

.box {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.ps__rail-y {
    right: 0 !important;
    left: auto !important;
}

.collapse-icon-v3 {
    display: none !important;
}

.form-select,
.form-input,
.css-13cymwt-control {
    border-color: rgba(3, 3, 3, 0.4);
}

.btn,
.btn-primary,
button {
    filter: none;
    box-shadow: none;
    --tw-shadow: none !important;
    --tw-shadow-color: none !important;
}

.btn:hover,
.btn-primary:hover,
button:hover {
    filter: none;
    box-shadow: none;
    --tw-shadow: none !important;
    --tw-shadow-color: none !important;
}

a:hover,
button:hover {
    filter: none;
    box-shadow: none;
    opacity: 0.9 !important;
}

.btn-after::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #408dfb !important;
    bottom: -1px;
    transition: all 0.5s ease;
}

#forms_grid {
    border-radius: 10px !important;
    border: 1px solid #cccccc8f !important;
}

.form {
    width: 450px;
    margin: 0 auto !important;
}

.gr-col-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.home-attend:first-child {
    width: calc(40% - 5px);
    margin-right: 5px;
    min-height: 150px;

}

.home-attend:last-child {
    width: calc(60% - 5px);
    margin-left: 5px;
    min-height: 150px;
}


/* UPLOAD IMAGE BOX */
.upload-box {
    min-height: 150px;
    border: 1px solid #cccccc !important;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100%;
    height: 200px;
    outline: 1px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-box img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #ff4757;
    cursor: pointer;
    top: -15px;
    right: -15px;
}

.create-roles .roles button {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 0.8rem;
}

.icon-box a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 3px;
}

.icon-box a:hover {
    background: rgba(3, 3, 3, 0.05);
    color: #333;
}






@media (max-width: 1560px) {
    .box {
        width: 80%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width: 1460px) {
    .box {
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width: 1360px) {
    .box {
        width: 95%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* For Large Screen */

@media (min-width: 1024px) {

    /* SidebarV3 */
    .vertical .sidebarV3 {
        @apply lg:ltr:left-0 w-[240px];
    }

    .vertical.toggle-sidebar .sidebarV3 {
        @apply ltr:left-0 w-[80px]
    }

    .vertical .menu-title {
        @apply transition-all duration-[500ms];
    }

    .vertical.toggle-sidebar .menu-title {
        @apply hidden transition-all duration-[500ms];
    }

    .vertical.toggle-sidebar .nav-item {
        @apply relative;
    }

    .vertical.toggle-sidebar .sidebarV3 .nav-item:hover>.menu-title {
        display: block !important;
        @apply absolute block right-3 bg-[#333] text-white transition-all duration-[500ms];
    }




}

/* For Small Screen */
@media (min-width: 0px) and (max-width: 1024px) {

    .collapse-icon-v3 {
        display: flex !important;
        left: 0 !important;
    }

    /* SidebarV3 */
    .vertical .sidebarV3 {
        @apply ltr:-left-[280px] rtl:-right-[280px] lg:ltr:left-0 lg:rtl:right-0;
    }

    .vertical.toggle-sidebar .sidebarV3 {
        @apply ltr:left-0 rtl:right-[260px] lg:ltr:-left-[280px] lg:rtl:-right-[280px];
    }
}

@media (max-width: 768px) {
    .gr-col-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .home-attend:first-child {
        width: 100%;
        margin-right: 0;
        min-height: 150px;

    }

    .home-attend:last-child {
        width: 100%;
        margin-left: 0;
        min-height: 150px;
    }
}

@media (max-width: 600px) {
    .form {
        width: 95%;
    }
}

@media (max-width: 580px) {
    .roles {
        margin-left: 0.3rem !important;
    }

    .roles button {
        padding-left: 0.4rem !important;
        padding-right: 0.4rem !important;
    }
}